* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
}
:root {
  --main-color: #f44336;
}   
html {
  scroll-behavior: smooth;
}
::selection {
  background-color: var(--main-color);
  color: #fff;
}
body {
font-family: 'Poppins', sans-serif;
}
ul { 
  list-style: none;
}

.spechial-heading {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.spechial-heading h1 {
  font-size: 36px;
  font-weight: 600;
}
.spechial-heading p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}


/* Satrt Header */
#header {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
#header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
nav {
  display: flex;
  padding: 2% 6%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
nav a{
  text-decoration: none;
  color: white;
}
nav .heading{
  margin-left: 50px;
}
nav .fa {
  display: none;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  display: inline-block;
  padding: 8px 12px ;
  position: relative;
  text-transform: uppercase;
}
.nav-links ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--main-color);
  display: block;
  margin: 3px auto;
  transition: 0.4s;
}
.nav-links ul li:hover::after {
width: 100%;
}
.nav-links ul li a {
  color: #fff; 
  text-decoration: none;
  font-size: 13px;
}
.text-box {
  position: relative;
  width: 60%;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.text-box h1 {
  font-size: 61px;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 25px;
  }
  .text-box p {
    font-size: 12px;
  }
  .nav-links ul {
    padding: 30px;
  }
  .nav-links ul li {
    display: block;
    margin-top: 6px;
    transition: 0.4s;
  }
  .nav-links ul li::after {
    content: "";
    width: 0;
    height: 2px;
    background: #fff;
    display: block;
    margin: 5px auto;
    transition: 0.4s;
  }
  .nav-links ul li:hover {
    font-weight: bold;
    transform: translate(-5px);
    width: 100%;
  }
  .nav-links {
    position: fixed;
    background: var(--main-color);
    width: 200px;
    height: 100vh;
    top: 0;
    right:-200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.4s;
  }
  nav .fa:hover {
    color: #000;
  }
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: rgb(238, 238, 238);
  line-height: 1.8;
}
.btn-1 {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
.btn-1:hover {
  border: 1px solid var(--main-color);
  background: var(--main-color);
  transition: 0.5s;
}
/* End Header */
 /* Start Course  */
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background-color: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  transition: 0.4s;
}
.course-col h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover {
  box-shadow: 0 0 20px 0px rgb(0, 0, 0,0.2);
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .about-col{
    text-align: center;
  }
  .about-col img{
    display: none;
  }

}
 /* End Course  */
 /* Start Campus  */
.capus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.capus-col img {
  width: 100%;
  display: block;
}
.capus-col .layer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
}
.capus-col .layer:hover {
  background-color: rgb(226, 0, 0,0.7);
}
.capus-col .layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.4s;
}
.capus-col .layer:hover h3 {
bottom: 49%;
opacity: 1;
}
 /* End Campus  */
 /* Start Facilities */
.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities-col img {
  width: 100%;
  border-radius: 10px;
}
.facilities-col p {
  padding: 0;
}
.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
}
 /* End Facilities */
  /* Start Testmonials  */

@media (max-width: 700px) {
  .testmon-col img {
    margin-left: 0;
    margin-right: 15px;
  }
}
 @media (max-width: 700px) {
    .cta h1 {
      font-size: 24px;
    }
  }
  .icons .fab {
    color: var(--main-color);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
  }
i.fas {
    color: red;
  }

/* About us page */

  .sub-header {
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .sub-header h1 {
    margin-top: 10px;
    font-size: 50px;
  }

  .about-us {
    width: 80%;
    padding: 10px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 7% auto;
  }
  .about-col {
    flex-basis: 48%;
    padding: 0px 3px;
    margin-bottom: 50px;
  }
  .about-col img {
    width: 50%;
    margin-left: 30%;
  }
  .about-col p {
    color: rgb(88, 88, 88);
    font-size: 18px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    word-spacing: 2px;
  }
  @media screen and (max-width: 592px){
    .about-us{
      width: 100%;
    }
  }
/* ---------footer----------- */
.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4{
  font-size: 20px;
}
.icons .fa{
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-regular{
  color: #f44336;
}
#review {
  background: var(--clr-white);
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
  margin: auto;
  width: 70%;
  padding: 10px;
}
.img-container {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: .5rem;
  text-align: center;
}
#person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.prev-btn,
.next-btn {
  color: var(--clr-primary-7);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-5);
}
@media screen and (max-width: 592px){
  .img-container{
    width: 100%;
    height: 50%;
  }
}